<div style="min-width: 100%;min-height: 100%;">
<br>
<div class="container" style="max-width: 600px;" >
<h2 class="textval">Register</h2>
<form #Registerform="ngForm" (ngSubmmit)="registerUser()">
<!-- <small [class.text-danger]="msg.status==500">{{msg.massage}}</small> -->
<div class="form-group">
    <label for="email">Email :</label>
    <input type="email" class="form-control"  placeholder="Enter Email" name="email"
    [(ngModel)]="user.emailId" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
     #email="ngModel"
    [class.is-invalid]="email.invalid && email.touched">
<div *ngIf="email.errors && (email.invalid && email.touched)">
<small class="text-danger" *ngIf="email.errors.required">Email id is required field</small>
<small class="text-danger" *ngIf="email.errors.pattern"> Enter the valid emailId</small>
</div>
</div>
<div class="form-group">
    <label for="username">Username :</label>
    <input type="text" class="form-control"  placeholder="Enterusername" name="username"
    [(ngModel)]="user.userName" required  #username="ngModel" 
    [class.is-invalid]="username.invalid && username.touched">
    <small class="text-danger" [class.d-none]="username.valid || username.untouched">
       Username is required field
       </small> 
</div>
<div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter Password" name="password"
     [(ngModel)]="user.password" required #password="ngModel"
     [class.is-invalid]="password.invalid && password.touched"
     >
     <small class="text-danger" [class.d-none]="password.valid || password.untouched">
      Password is required field
     </small>
  </div>
  <div class="form-group">
    <label for="pwd">Confirm password:</label>
    <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword"
     [(ngModel)]="user.password" required #cpassword="ngModel"
     [class.is-invalid]="cpassword.invalid && cpassword.touched"
     >
     <small class="text-danger" [class.d-none]="cpassword.value ==password.value || cpassword.untouched">
      Password & confirm password must be same
     </small>
  </div>

<!-- gender -->

<div class="form-group">
  <label for="select" class="col-lg-2">Gender</label>
   <div class="col-lg-3">
    <select id="select" class="form-control"
      [ngModel] = "user.gender" name = "gender"
      required>
      
      <option *ngFor = "let g of gender"  
        [value] = "g"> {{g}} 
      </option>
    </select>
   </div>
</div>












<!-- image -->
          <div>
            <img src="/assets/images/signUp.png" (click)='done(image)' #image2
             style="height:20%; padding-top: 10px; padding-bottom: 10px;width: 20%;"/>
        </div>
        <div >
            <input type="file" (change)='change($event,image2)' 
            #image style="padding-top: 20px; padding-bottom: 20px;" />
        </div>
   













  <!-- <button [disabled]"Registerform.form.invalid" type="submit" class="btn btn-info">Register</button> -->
  <button  type="submit" class="btn btn-info">Register</button>
  <small class="float-right" >Existing user ? Login here</small>
  <!-- <small class="float-right" [routerLink]='./login'>Existing user ? Login here</small> -->
</form>
</div>
</div>
